@using redball.Models
@{
    ViewData["Title"] = "Edit";

    var overrides = ViewData["Overrides"] as IEnumerable<ShipperRateOverride>;
    var rateTable = ViewData["Benchmark"] as IEnumerable<BenchmarkRate>;
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Shippers will use this page to edit their tenders to TNS.</p>

<table class="table">
    <thead>
        <tr>
            <th>Origin</th>
            <th>Destination</th>
            <th>Minimum Charge</th>
            <th>Cost Per Mile</th>
            <th>Calculation</th>
        </tr>
    </thead>

    @foreach (var row in rateTable.ToList())
    {
        double? rateAdjustment = null;
        decimal? adjustedRate = null;
        var shipperOverride = overrides.FirstOrDefault(x => x.SroOriginStateCode == row.TbrOriginStateCode
                                                            && x.SroTargetStateCode == row.TbrTargetStateCode);
        if (shipperOverride != null)
        {
            rateAdjustment = shipperOverride.SroCostPerMilePercentageAdjustment;
            adjustedRate = row.TbrCostPerMile + (row.TbrCostPerMile * (decimal)rateAdjustment);
        }
        <tr>
            <td>
                @Html.DisplayFor(modelItem => row.TbrOriginStateCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => row.TbrTargetStateCode)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => row.TbrMinimumCharge)
            </td>
            <td>
                @(string.Format("${0:#.00}", adjustedRate ?? row.TbrCostPerMile))
            </td>
            <td>
                @if (shipperOverride != null)
                {

                    <p>TNS baseline rate: @string.Format("${0:#.00}", row.TbrCostPerMile)</p>
                    <p>Percentage rate adjustment: @(rateAdjustment * 100)%</p>
                    <p>Final cost per mile: @string.Format("${0:#.00}", adjustedRate)</p>
                }
                else
                {
                    <p>(Matches TNS baseline rate)</p>
                }

            </td>
        </tr>
    }
</table>
