@model IEnumerable<redball.Models.TblPlServiceType>

@{
    ViewData["Title"] = "Ship";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h3>Destination</h3>
<form>
    <div class="form-group">
        <label for="destinationStreet">Street Address</label>
        <input type="text" class="form-control" id="destinationStreet" placeholder="Street">
    </div>
    <div class="form-group">
        <label for="destinationCity">City</label>
        <input type="text" class="form-control" id="destinationCity" placeholder="City">
    </div>
    <div class="form-group">
        <label for="destinationState">State</label>
        <input type="text" class="form-control" id="destinationState" placeholder="State">
    </div>
    <div class="form-group">
        <label for="destinationZip">Zip Code</label>
        <input type="text" class="form-control" id="destinationZip" placeholder="Zip Code">
    </div>
</form>

<h3>Select a service and trailer type</h3>
<table class="table">
    <thead>
        <tr>
            <th>Service Type</th>
            <th>Trailer Types</th>
        </tr>
    </thead>

    @foreach (var serviceType in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => serviceType.StName)
            </td>
            <td>
                <div class="radio">
                    @foreach (var trailerType in serviceType.TblPlTrailerType)
                {
                        <p>
                            <label>
                                <input type="radio" name="trailerTypeRadios" id="trailerType" + @trailerType.TtId />
                                @trailerType.ToString()
                            </label>
                        </p>
                    }
                </div>
            </td>
        </tr>
    }
</table>

<h3>Review your tendered rate</h3>

<h3>Download Tender</h3>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
        <img src="~/images/highjump_logo.png" />
    </div>
    <div class="col-md-4">
        <a class="btn btn-default btn-lg" href="#" role="button">Download</a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
        <img src="~/images/leantms_logo.png" />
    </div>
    <div class="col-md-4">
        <a class="btn btn-default btn-lg" href="#" role="button">Download</a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
        <img src="~/images/oracle_logo.png" />
    </div>
    <div class="col-md-4">
        <a class="btn btn-default btn-lg" href="#" role="button">Download</a>
    </div>
</div>
